*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: linear-gradient(to bottom, #94dadf, #0a6c74);

    color: black;
}

.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(185, 224, 224);
    backdrop-filter: blur(12px);
    box-shadow:0 8px 25 rgba(0,0,0,0.1) ;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 22px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
}

nav a{
    margin-left: 20px;
    text-decoration: none;
    height: 30px;
    position: relative;
    color: rgb(2, 0, 0);
    transition: 0.3s;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #fffdc1;
  bottom: -4px;
  left: 0;
  transition: 0.3s;
}
nav a:hover::after {
  width: 100%;
}

nav a:hover{
    color:#ffd;
}

.btnadmin{
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.btnadmin:hover{
    background:darkred;
}

.adminsearchlogs{
    width: 85%;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 30px;
    background: rgba(255,255,255,0.95);
    margin: 40px auto;
    animation: fadein 0.8s ease;
    color: black;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table{
    width: 100%;
    color: black;
}

.dataTables_wrapper{
    margin-top: 10px;
    color: black;
}

.dataTables_filter input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
}

.footer{
    text-align: center;
    margin-top: 40px;
    color: white;
    background: #155b61;
    padding: 15px;
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}